@* 
    This is a partial view for Employee form fields.
    It can be reused in AddEmployee and UpdateEmployee pages.
*@

<div class="employee-form">
    <div>
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" />
    </div>

    <div>
        <label for="Surname">Surname:</label>
        <input type="text" id="Surname" name="Surname" />
    </div>

    <div>
        <label for="Salary">Salary:</label>
        <input type="number" id="Salary" name="Salary" />
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</div>

